Repository atanasot/graceShopper, pull requests merged in 2022-04, with the labels that each got.

#5 Add order model and associations
  server/db/index.js
  server/db/models/Order.js
Labels: dbModels

#14 added beers and wines reducers
  client/store/beers.js
  client/store/index.js
  client/store/wines.js
Labels: redux-store

#15 Seeded 5 Red Wines
  public/images/2017_SilverOaks_Cabernet.jpeg
  public/images/2018_Goldenye_Pinot.jpeg
  public/images/2019_ChandondeBrialles.jpeg
  public/images/2019_JoshCellars_Cabernet.jpeg
  script/seed.js
Labels: wine

#19 added 5 ale beers
  public/images/2020_All_Day_Vacay_Featured.jpg
  public/images/dirtyBlonde.jpg
  public/images/paleAle.png
  public/images/porter.jpg
  script/seed.js
Labels: beer

#22 Seed more wine
  client/components/WineDescription.js
  public/images/2016_Chateau_Lestage_Bordeaux.jpeg
  public/images/2017_Marques_Red.jpeg
  public/images/2018_Lemelson_Theas_Pinot.jpeg
  public/images/2018_Susana_Bourdeax.jpeg
  public/images/2019_Hartford_Pinot.jpeg
  script/seed.js
Labels: wine, components

#55 Add product description to wine and beer
  client/components/WineDescriptionBeforeLogin.js
  script/seed.js
  server/db/models/Beer.js
  server/db/models/Wine.js
Labels: wine, beer, dbModels
